//= require_tree .
//= require_self

body {
	padding-top: 5px;
  background: image-url("handmadepaper.png") repeat;
}
footer { margin-top: 100px; text-align: center; }
table { vertical-align: middle; border: none; border-collapse: separate; border-spacing: 20px; }
td, th { vertical-align: middle; border: none; }
td.item_name { vertical-align: middle; border: none; font-family: 'Shadows Into Light', cursive; font-size: 24px; }
th { border-bottom: 1px solid #DDD; }
th.actions { border-bottom: none; }
div.container_footer { margin: auto; }
